* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
body {
  background-color: #f8ca00;
}
button {
  background-color: #e97f02;
  border-radius: 6px;
  border: none;
  color: #bd1550;
  padding: 10px;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;
}
#placeholder {
  height: 100px;
  width: 100px;
  padding: 50px;
  margin: 50px auto;
  border: 1px solid #e97f02;
  border-radius: 10px;
  font-size:80px;
  color: #490a3d;
}
